// Specific CSS for your home-page

//Wrapper around yield
.page-wrapper {
  min-height: calc(100vh - 170px);
  background-color: white;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-weight: lighter;
  font-size: 30px;
}

.headers {
  text-align: center;
  font-weight: bolder;
  font-family: 'Karla';
  padding: 10px 10px;
  font-size: 30px;
  letter-spacing: 2px;
}
.scroll {
  color: #5589A0;
  margin: auto;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 140px;
  padding-right: 140px;
}

.card-img {
  width: 80px;
  height: 80px;
}
.eye {
  width: 100px;
}

.description-bottom {
 font-weight: lighter;
 font-size: 20px;
}

.name-team {
  // font-family: 'Zeyada', cursive;
  font-weight: lighter;
  font-size: 20px;
}

.mailto_contact {
  text-decoration: none;
  font-family: 'Karla';
  font-weight: lighter;
  font-size: 20px;
  color:  #5589A0;
}

.mailto_contact:hover {
  color: #a1ccd6;
  border: #5589A0;
  text-decoration: none;
}

.description {
  font-weight: lighter;
  font-size: 30px;
}

