// Specific CSS for your home-page

//Wrapper around yield
.page-wrapper {
  min-height: calc(100vh - 170px);
  background-color: white;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 30px;
}

.headers {
  text-align: center;
  font-weight: lighter;
  font-family: 'Roboto';
  padding: 10px 10px;
  font-size: 30px;
  letter-spacing: 2px;
}
.scroll {
  color: #5186A1;
  margin: auto;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 140px;
  padding-right: 140px;
}

.card-img {
  width: 80px;
height: 80px;
}
.eye {
  width: 100px;
}
