.notif-content {
  // display: block;
  // align-items: center;
  // justify-content: space-between;
  margin: 85px auto;
  font-size: 20px;
  // width: 900px;
  letter-spacing: 2px;
  text-align: justify;
  color: #5186A1;

  p.description {
    padding: 20px 20px;

  }
}

.blocks {
  display: block;
  align-items: center;
  text-align: justify;

  p.description {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}

.flexes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p.description {
    padding: 0px 20px;
    width: 500px;
    text-align: justify;
    margin: 0px 38px 35px 0;
  }
}

.titles {
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #5186A1;
  h3 {
    font-size: 35px;
    font-weight: bold;
    }
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;

}

.checklist {
  padding: 30px;
  width: 856px;
  margin: 0 auto;

  .divleft {
    width: 377px;
    padding: 32px 0;
    border-right: 3px solid #5186A1;
  }

  .divright {
    width: 376px;
    padding: 32px 0;
    margin-left: 374px;
    border-left: 3px solid #5186A1;
  }

  .idea {
    background-color: #FEB98F;
    border-radius: 70px;
    width: 348px;
    height: 222px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
    // margin: 80px 0px;
    margin: 0;
  }

  .gauche {
    left: 400px;
  }
  .droite {
    // left: 200px;
  }

  .right {
    margin-right: 30px;
    &:before{
      content: "*";
      background-color: #5186A1;
      width: 106px;
      height: 106px;
      position: absolute;
      top: -53px;
      right: -80px;
      border-radius: 50%;
      padding-top: 37px;
      font-size: 30px;
      color: white;
    }
  }

  .left {
    margin-left: 30px;
    &:before{
      content: "*";
      background-color: #5186A1;
      width: 106px;
      height: 106px;
      position: absolute;
      top: -53px;
      left: -80px;
      border-radius: 50%;
      padding-top: 37px;
      font-size: 30px;
      color: white;
    }
  }
}


.conseil {
    background-color: #FEB98F;
    border-radius: 70px;
    width: 348px;
    height: 222px;
    left: 716px;
    top: 1200px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
  }

.yoga {
  padding: 50px;

}

.video {

 }

.nuage {
  top: 70px;
  right: 30px;
  position: absolute;
}

.checklist{
  display: block;
}
