.notif-content {
  // display: block;
  // align-items: center;
  // justify-content: space-between;
  height: 800px;
  margin: 40px auto;
  font-size: 20px;
  // width: 900px;
  letter-spacing: 2px;
  text-align: justify;

  p.description {
    padding: 20px 20px;


  }
}

.page-wrapper {
  background: url(blue.png);

}

.blocks {
  display: block;
  align-items: center;
  text-align: justify;

  p.description {
    padding: 20px;
    width: 100%;
  }

}


.flexes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p.description {
    padding: 0px 20px;
    width: 500px;
    text-align: justify;
    margin: 0px 38px 35px 0;
  }


}

.titles {
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 2px 2px #1c819e;
}

#logo {
  position: absolute;

  left: 30px;
  top: 30px;

   img {
    width: 56px;
  }
}

