.notif-content {
  // display: block;
  // align-items: center;
  // justify-content: space-between;
  height: 800px;
  margin: 0 auto;
  font-size: 17px;
  // width: 900px;
  letter-spacing: 2px;
  text-align: justify;
  background: white;


  p.description {
    padding: 20px 20px;


  }
}

.blocks {
  display: block;
  align-items: center;
  text-align: justify;

  p.description {
    padding: 20px;
    width: 100%;
  }

}


.flexes {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p.description {
    padding: 0px 20px;
    width: 500px;
    text-align: justify;
    margin: 43px 38px 35px 0;
  }


}

.titles {
  text-align: center;
  font-weight: lighter;
  font-family: 'Roboto';
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 30px;
  letter-spacing: 2px;
}
