<div class="container">
    <div id="logo">
      <%= link_to(image_tag("https://res.cloudinary.com/dtkqvidoc/image/upload/v1551375142/logo_coacheye-250px-bleu.png"), root_path) %>
    </div>
    <div class="titles" >
      <h3><%= @notification.title %></h3>
    </div>
    <div class="notif-content">
      <%= raw Kramdown::Document.new(@notification.body).to_html %>
    </div>
</div>


<!-- this is for meta tags, not sure if it works -->
<% content_for :meta_title, "#{@notification.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @notification.body %>


