<div class="notif-container">
  <img class="nuage" src="https://res.cloudinary.com/coacheye/image/upload/v1551800584/cloud.png"/>
  <h3 class="title"><%= @notification.title %></h3>
  <%= raw Kramdown::Document.new(@notification.body).to_html %>
</div>


<!-- this is for meta tags, not sure if it works -->
<% content_for :meta_title, "#{@notification.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @notification.body %>
