<div class="container">
    <div id="logo">
          <img src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551375142/logo_coacheye-250px-bleu.png">
        </div>
    <div class="scroll">
    <div class="titles" >
      <h3><%= @notification.title %></h3>
    </div>
    <div class="notif-content">
      <%= raw Kramdown::Document.new(@notification.body).to_html %>
    </div>
  </div>
</div>


