<div class="container">
  <div class="scroll">
    <div class="headers">
      <h3><%= @notification.title %></h3>
    </div>
    <div class="notif-content">
      <p>Don't forget to use our tips even when CoachEye isn't looking over you!</p>
    </div>
  </div>
</div>


