<div class="footer">
  <div class="footer-copyright">
     <a href="#">TERMS & CONDITIONS</a>
     <a href="#">PRIVACY POLICY</a>
     <a href="#">WORK WITH US</a>
     <a href="#">CONTACT US</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    © 2019 COACHEYE INC.
  </div>
</div>
