
<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510440777527-38815cfc6cc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);"> -->

 <!--  #banner video -->
<!--  <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet"> -->

  <header>
    <div class="banner">
      <div class="overlay">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
        <source src="https://res.cloudinary.com/dtkqvidoc/video/upload/v1551368831/coacheye-banner-overlay.mp4" type="video/mp4" style="height: 629px; width: 1118.22px;">
        </video>
      </div>
      <div class="banner-content">
        <h1>Look after your eyes with CoachEye</h1>

        <p>Your first vision coach adapted to your needs</p>
        <a class="btn btn-flat" href="#">Download our <i class="fab fa-chrome"></i> extension!</a>
      </div>
      <div class="mask"></div>
      <div id="logo">
        <img src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551375142/logo_coacheye-250px-bleu.png">
      </div>
    </div>
 </header>


<!--   bloc 2 / Storytelling -->


<div class="scroll">
  <div class="headers">
  <h2>Who is CoachEye?</h2>
  </div>
  <br>
  <div class="description">
    <p>
      CoachEye is your personal mentor who will help protect your vision and reduce digital eye strain during prolonged computer use. Through a Google Chrome extension and its notifications, it will encourage you to adopt daily best practices that will maintain your eyes' health and maximise your work performance.
    </p>
  </div>
</div>

<!--   bloc 3 / CoachEye objectives -->

<div class="scroll">
  <div class="headers">
    <h2>What are CoachEye's benifits?</h2>
    <br>
    <p class="description-bottom">Daily tips to protect your eyes.</p>
  </div>
</div>
<br>
<br>
 <!--  CARDS 3 et 2 -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card-description">
        <img class="card-img eye" src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551454772/red-eyes.png" height="300px">
        <p class="description-bottom">Prevents eye strain and fatigue</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card-description">
        <img class="card-img eye" src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551454772/laptop.png">
        <p class="description-bottom">Using your computer at work will no longer be a pain</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card-description">
        <img class="card-img" src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551454772/headache.png">
        <p class="description-bottom">Reduce headaches or migraines</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="card-description">
          <img class="card-img" src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551454772/graph.png">
          <p class="description-bottom">You become more productive</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="card-description">
          <img class="card-img" src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551454772/moon.png">
          <p class="description-bottom">Improve the quality of your sleep</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END OF CARDS -->


<!--   bloc 4 / Team -->
<div class="scroll">
  <div class="headers">
    <h2>Who are we?</h2>
    <br>
    <!--  PHOTO -->
      <img src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551370379/team_coacheye-_transparent.png" align="center" width="500" height="210">

      <p class="name-team">Karolina Paulauskaite Léonie Lefebvre Jad Azzam</p>

    <!--   LIEN MAIL TO: -->
      <a class="mailto_contact" href="mailto:contact@coacheye.fr">contact@coacheye.fr</a>

  </div>
</div>





