<header>
  <div class="banner">
    <div id="logo-homepage">
      <img src="https://res.cloudinary.com/coacheye/image/upload/v1551790402/Logo/logo.png" width=80 height=80 class="logo-coacheye">
    </div>
    <div class="banner-content">
      <h1>CoachEye</h1>
        <p>The first coach to look after your eyes!</p>
        <a class="btn btn-flat" href="#">Download our <i class="fab fa-chrome"></i> extension</a>
    </div>

  </div>
</header>

<!--   bloc 2 / Storytelling -->


<div class="wrapper-wave">

  <div class="home-block second-block">
    <div class="left-flex-item">
      <h2>Learn the best tricks to keep a clear vision</h2>
      <p>CoachEye is your personal mentor who will help protect your vision and reduce digital eye strain during prolonged computer use. </p>
    </div>
    <div class="right-flex-item">
      <img src="https://res.cloudinary.com/coacheye/image/upload/v1551866583/Homepage/laptop-homepage.png" width=600 height=420 alt="coacheye_screenshot">
    </div>
  </div>

  <div class="home-block third-block">
    <h2>Who is CoachEye?</h2>
    <p>
      Through a Google Chrome extension and its notifications, it will encourage you to adopt daily best practices that will maintain your eyes' health and maximise your work performance.
    </p>
  </div>

  <div class="home-block fourth-block">
    <h2>What are the benefits of CoachEye?</h2>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
          <div class="product-feature">
            <div class="product-feature-img">
              <img src="https://res.cloudinary.com/coacheye/image/upload/v1551790402/Homepage/eyestrain_-_white.png" width=166 height=113 alt="eyestrain">
            </div>
            <p>Prevents eyestrain & fatigue</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
          <div class="product-feature">
            <div class="product-feature-img">
              <img src="https://res.cloudinary.com/coacheye/image/upload/v1551790402/Homepage/headache_-_white.png" width=120 height=139 alt="headache">
            </div>
            <p>Get rid of your headaches</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
          <div class="product-feature">
            <div class="product-feature-img">
              <img src="https://res.cloudinary.com/coacheye/image/upload/v1551790402/Homepage/sleep_-_white.png" width=137 height=129 alt="sleep better">
            </div>
            <p>Sleep better</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
          <div class="product-feature">
            <div class="product-feature-img">
              <img src="https://res.cloudinary.com/coacheye/image/upload/v1551790402/Homepage/productive_-_white.png" width=123 height=123 alt="productivity">
            </div>
            <p>Maximize your productivity</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
