
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510440777527-38815cfc6cc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
  <div class="container">
    <h1>CoachEye - your first online vision coach adapted to your needs</strong></h1>
    <p></p>
    <a class="btn btn-flat" href="#">Download our Chrome extension!</a>
  </div>
</div>

<h2>Here we'll have an example of our extension's messages?</h2>

<h2>And a list of reasons to use CoachEye extension</h2>
