
<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510440777527-38815cfc6cc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);"> -->
 <!--  #banner video -->
  <header>
    <div class="banner">
      <div class="overlay">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
        <source src="https://res.cloudinary.com/dtkqvidoc/video/upload/v1551368831/coacheye-banner-overlay.mp4" type="video/mp4" style="height: 629px; width: 1118.22px;">
        </video>
      </div>
      <div class="banner-content">
        <h1>Look after your eyes with CoachEye</h1>
        <p>Your first online vision coach adapted to your needs</p>
        <a class="btn btn-flat" href="#">Download our <i class="fab fa-chrome"></i> extension!</a>
      </div>
      <div class="mask"></div>
    </div>
 </header>

<!--   bloc 2 / CoachEye objectives -->
<div class="scroll">
  <div class="headers">
  <h2>CoachEye benefits:</h2>
    <p>Receive daily tips and pieces of advice to protect your eyes.</p>
  </div>
  <div class="list">
    <ul>
      <li>Prevents eye strain and fatigue</li>
      <li>Using your computer at work will no longer be a pain</li>
      <li>Reduce headaches or migraines</li>
      <li>You become more productive</li>
      <li>Improve the quality of your sleep</li>
    </ul>
  </div>
</div>

<!--   bloc 3 / Storytelling -->
<div class="scroll">
  <div class="headers">
  <h2>What is CoachEye?</h2>
    <p>CoachEye is an application created by 3 friends. As developers, they spend a lot of time on a screen,they took awareness of a common issue: eye fatigue.
    Thus, the team decided to develop CoachEye as a Google extension to keep you constantly updated with eye care tips or facts, eye health articles and eye exercises.</p>
  </div>
</div>


<!--   bloc 4 / Team -->
<div class="scroll">
  <div class="headers">
  <h2>Team & contact </h2>
  <!--   METTRE PHOTO -->
    <img src="https://res.cloudinary.com/dtkqvidoc/image/upload/v1551367160/team_coacheye.png" align="center">

    <p>Karolina Paulauskaite/ Léonie Lefebvre / Jad Azzam</p>
  <!--   METTRE UN LIEN MAIL TO: -->
    <p>contact@coacheye.fr</p>
</div>
</div>














