
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510440777527-38815cfc6cc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
<!--   <div class="container">
 -->
 <div class="banner-content">
    <h1>Look after your eyes with CoachEye</h1>
    <p>Your first online vision coach adapted to your needs</p>
    <a class="btn btn-flat" href="#">Download our <i class="fab fa-chrome"></i> extension!</a>
  </div>
  <!-- </div> -->
</div>

<div class="scroll">
  <div class="headers">
  <h2>Why should you use CoachEye?</h2>
  </div>
  <div class="list">
    <ul>
      <li>It protects your eyes</li>
      <li>Prevents eye strain and fatigue</li>
      <li>You become more productive</li>
      <li>Improvement in your sleep</li>
      <li>Less headaches or migraines</li>
      <li>Using your computer at work will no longer be a pain</li>
    </ul>
  </div>
</div>
