.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.banner h1 {
  margin: 0;
  color: #303633;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Karla';
  letter-spacing: 3px;
}

.banner p {
  font-size: 20px;
  color: #303633;
  letter-spacing: 1px;
}


header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// header video {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: 0;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
// }
// video {
//   display: inline-block;
//   vertical-align: baseline;
// }
