
.btn-flat {
  color: white;
  padding: 3% 9%;
  border-radius: 40px;
  background: #5589A0;
  border: #484C5F;
  transition: background 0.3s ease;
  letter-spacing: 2px;
  margin: 0px auto;
  font-weight: 300;
  font-size: 20px;
}

.btn-flat:hover {
  background: #303633;
  border: #5589A0;
  color: white;
}
