
.btn-flat {
  color: white;
  padding: 16px 48px;
  border-radius: 40px;
  background: #4f9da6;
  transition: background 0.3s ease;
  font-family: 'Roboto';
  letter-spacing: 2px;
  margin: 0px auto;
}

.btn-flat:hover {
  background: #acdbdf;
  color: white;
}



