
.btn-flat {
  color: white;
  padding: 16px 48px;
  border-radius: 40px;
  background: #5589A0;
  border: #484C5F;
  transition: background 0.3s ease;
  font-family: 'Karla';
  letter-spacing: 2px;
  margin: 0px auto;
  font-weight: bold;
  font-size: 20px;
}

.btn-flat:hover {
  background: #a1ccd6;
  border: #5589A0;
  color: white;
}

