.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 10px;
  color: #5789a0;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #5789a0;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #5789a0;
}

.footer-copyright {
  color: #5789a0;
  font-weight: lighter;
}
