.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 355px;
  padding: 0px 10px;
  background: asset_url("background_footer.png");
  background-size: cover;
}

.footer-links {
  display: flex;
  align-items: center;
  margin: 100px;
  margin-top: 152px;
}

.footer-links a {
  color: #5789a0!important;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin: 10px;
}
.footer-links a:hover {
  color: #FEB98F;
}

.footer .fa-heart {
  color: #5789a0;
}

.footer-copyright a {
  color: #5789a0!important;
  text-decoration: none;
  font-size: 20px;
  padding-left: 90px;
  margin-bottom: -57px;
}

.footer-copyright a:hover,
a:hover {
  color: #FEB98F!important;
  text-decoration: none;
}

.footer-copyright {
  padding-left: 65px;
  padding: 70px;
  margin-bottom: -101px;
  margin: -75px;
}

#footer-coacheye-inc {
  p {
    color: #5789a0!important;
    font-size: 18px!important;
  }
}




